$blue: #0D78E2;
$yellow: #FFBE0B;
$white: #F7F9F9;
$light-blue: #BED8D4;

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #515751;
}

#sidebar {
    background-color: $blue;
    color: #fafafa;
    background-color: #515751;
    height: 100vh!important;

    h3 {
        margin: 15px 15px;
    }
    nav {
        margin-top: 50px;
        padding: 0px;

        li {

            a {
                font-size: 16px;
                text-decoration: none;
                color: white;
                padding-top: 10px 20px;
                transition: all 0.5s;
            }

            a:hover {
                border: 1px solid #596869;
                border-radius: 0px;
                background-color: #596869;
            }

            .dropdown-menu {

                margin-left: -30px;

                .dropdown-item {
                    color: black;
                }
            }

        }
    }
}

#content {
    
    background-color: $blue;

}

#form_cd_clientes {
    label {
        font-weight: bold;
    }
}